{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-standard",
    "stylelint-config-clean-order"
  ],
  "plugins": ["stylelint-order"],
  "rules": {
    "no-missing-end-of-source-newline": null,
    "selector-class-pattern": null,
    "import-notation": "string",
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["function", "if", "each", "include", "mixin"]
      }
    ]
  }
}
