.card {
  padding: 24px;
}

.without-paddings {
  padding: 0;
}

.normal {
  background: var(--dark-bg-redesigned);
}

.outline {
  border: 1px solid var(--accent-redesigned);
}

.light {
  background: var(--light-bg-redesigned);
}

.normal-border {
  border-radius: 12px;
}

.partial {
  border-radius: 16px;
}

.round {
  border-radius: 40px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.gap-0 {
  padding: 0;
}

.gap-8 {
  padding: 8px;
}

.gap-16 {
  padding: 16px;
}

.gap-24 {
  padding: 24px;
}