.code {
  position: relative;

  overflow: auto;

  padding: 20px;

  background-color: var(--code-bg);
  border: 1px solid var(--primary-color);
}

.codeRedesigned {
  position: relative;

  overflow: auto;

  padding: 20px;

  background: var(--light-bg-redesigned);
  border: 1px solid var(--accent-redesigned);
  border-radius: 16px;
}

.copyBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.copyIcon path {
  stroke: var(--primary-color);
}