.articleViewSelector {
  .notSelected {
    fill: var(--secondary-color);
  }
}

.articleViewSelectorRedesigned {
  .notSelected {
    color: var(--light-bg-redesigned);
  }
}

.getHStach {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}