.app-link {
  display: flex;
  gap: var(--margin-x-s);
  align-items: center;

  text-decoration: none;

  background: transparent;
  border: none;
}

.span {
  display: inline;
}

.primary {
  color: var(--text-redesigned);

  &:hover {
    color: var(--accent-redesigned);
  }
}

.red {
  color: var(--cancel-redesigned);

  &:hover {
    opacity: 0.8;
  }
}

.large {
  font-family: SFMono-Light, sans-serif;
  font-size: var(--margin-m);
  line-height: var(--margin-x-l);

  @media screen and (width < 1440px) {
    font-family: SFMono-Light, sans-serif;
    font-size: 0.875rem;
    line-height: var(--margin-x-l);
  }
}

.medium {
  font-family: SFMono-Light, sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;

  @media screen and (width < 1440px) {
    font-family: SFMono-Light, sans-serif;
    font-size: var(--margin-s);
    line-height: 1.375rem;
  }
}

.small {
  font-family: SFMono-Light, sans-serif;
  font-size: var(--margin-s);
  line-height: 0.875rem;
}