.icon {
  color: var(--icon-redesigned);
}

.button {
  cursor: pointer;

  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: none;

  &:hover {
    .icon {
      color: var(--accent-redesigned);
    }
  }
}