.articlePageFilters {
  .sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search {
    margin-top: 16px;
  }

  .tabsWrapper {
    margin-top: 16px;
  }
}