.modal {
  // когда окно закрыто, то делаем так, чтоб оно было растянуто на всю ширину и высоту, однако
  // взаимодействовать с ним нельзя
  pointer-events: none;

  position: fixed;
  z-index: 100;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
}

.content {
  z-index: var(--modal-z-index);
  transform: scale(0.5);

  max-width: 60%;
  padding: 20px;

  border-radius: 12px;

  transition: 0.3s transform;
}

.oldModal {
  .content {
    background-color: var(--bg-color);
  }
}

.newModal {
  .content {
    background-color: var(--light-bg-redesigned);
  }
}

.opened {
  // когда открываем окно, то открываем взаимодействие с ним, делаем его не прозрачным и добавляем z-index
  pointer-events: auto;
  z-index: var(--modal-z-index);
  opacity: 1;

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.2);
  }
}